/* shows user icon and name */
header.app-header {
  display: flex;
  width: 100%;
  /* height: 20em; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e1ad3e;
  background-image: url("../images/bg-color.png");
  color: white;
}

.profile-pic {
  padding-top: 1.5em;
}

/* .user-name {
  margin-bottom: 1.5em
} */