  
nav {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  color: #FFFFFF;
  position: fixed;
  top: 0;
 }

/* Tweeter logo */
.logo {
  font-family: 'Bungee', cursive;
}

/* msg that shows up on the right in nav */
.header-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
}

/* arrow below the .header-msg */
button.nav-btn {
  margin-top: .25em;
  margin-left: 50%;
  margin-right: 50%;
  color: red;
  background-color: Transparent;
  border: none;
  outline:none;
  cursor: pointer;
}

button.nav-btn:hover {
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  
  0%,  

  100% {
    transform: translateY(0);
  } 
  50% {
    transform: translateY(-20%);
  }
}