nav {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  background-color: #4056A1;
  color: #FFFFFF;
  height: 120px;
 }

span {
  font-family: 'Bungee', cursive;
  margin: 1.5em;
}

.header-msg {
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 75%;
  margin: 1.5em;
}

.arrow {
  margin-top: .5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  height:20px;
}