/* add class */
form.tweets {
  /* display: flex;
  flex-grow: 1;
  flex-direction: column; */
  width: 100%;
  /* padding: 3%; */
  margin: 5% 0;
}

/* FORM input field*/

textarea[name="text"] {
  margin-bottom: 1em;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 1.5em;
  outline: none;
  resize: none;
  /* font-size: .25em; */
}

/* overriding placeholder text styles inherited from form input field*/
textarea::placeholder {
  font-weight: 700;
  font-size: 1.25em;
}

#tweet-text {
  font-size: 1em;
}

button[type="submit"] {
  background-color:  #4056A1;
  color: #FFFFFF;
  padding: .2% .6% ;
  cursor: pointer;
}

/* form input field and border-bottom */
.top-content {
  margin-top: 3em;
  border-bottom: 4px solid;
}

/* button and count */
.bottom-content {
  margin: 1.5em 0 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  font-size: .75em;
}

/* label[for="tweet-text"] {
  font-weight: 700;
  margin-top: 30px;
  display:inline-block;
  font-size: 24px;
} */

/* turns counter red, after character count exceeds 140 */
.red {
  color: red;
}