form[action="/tweets/"]{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
}

textarea[name="text"] {
  background-color: transparent;
  border: none;
  width: 75%;
  margin-left: 15px;
  outline: none;
}

button[type="submit"] {
  background-color:  #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', cursive;
  font-size: 18px;
  padding: 2px 6px 2px;
}

.top-content {
  border-bottom: 4px solid;
}

.bottom-content {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

label[for="tweet-text"] {
  font-weight: 700;
  margin-bottom: 15px;
  display:inline-block;
}
