article.new-tweet-container {
  border: .2em solid;
  padding: 1%;
  margin: 6% 0;
  font-size: 1em;
}

article.new-tweet-container:hover {
  box-shadow: 10px 10px #b3c0e1;
  font-weight: 700;
} 

article.new-tweet-container > p {
  padding-top: 1.5%;
}

.tweet-handle {
  margin: .5em;
  color: rgb(199, 198, 198);
}

.tw-header {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* displays user icon and name next to each other */
.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name {
  margin: .5em;
}

.new-tweet-container p {
  margin: 1% 1.5%;
}

footer {
  display: flex;
  flex-direction: row;
  border-top: 4px solid;
  justify-content: space-between;
  font-size: 70%;
}

.date {
  margin: 1% 1.5%;
}

/* tweeter icons in the bottor right corner */
.icons {
  margin: 1% 1.5%;
  color: #4056A1;
} 

/* error messages when tweet is the wrong length*/
.new-tweet > p {
  border: 4px solid red;
  display: none;
  padding: .6%;
  text-align: center;
  margin: 0;
  font-size: 1em;
  color: red;
}